<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<div>
    <nav id="navbar">
        <div id="hp-title">The Elements</div>
        <a href="/">Home</a>
        <a href="/dash">Dashboard</a>
        {{#if logged_in}}
        <a href="/">Logout</a>
        {{/if}}
        {{#unless logged_in}}
        <a href="/login">Login</a>
        {{/unless}}
    </nav>


    {{#each posts}}
        <a href='/dash/edit/{{id}}'><h2 class="post-title"> {{title}} </h2></a>
        <h3 class="post-body">{{body}}</h3>
    {{/each}}
    <a href="/dash/newBanger"><button class="form-btn">Create a Post</button></a>
</div>
