<div>
  <h1>Login</h1>
  <form id="login-form">
    <h2>Username:</h2>
    <input type="text" id="username-login">
    <h2>Password:</h2>
    <input type="text" id="password-login">
    <button type="submit">Login</button>
    <a href="/signup">Join The Elements</a>
  </form>
</div>

<script src="./js/login.js"></script>