<div>
    <nav id="navbar">
    <a href="/"><div id="hp-title">The Elements</div></a>
    <a href="/dash">Dashboard</a>
    {{#if logged_in}}
    <a href="/">Logout</a>
    {{/if}}
    {{#unless logged_in}}
    <a href="/login">Login</a>
    {{/unless}}
  </nav>
  
  <h1 id="login-title">LOGIN</h1>
  <form class="form" id="login-form">
    <h2 class="form-txt">Username:</h2>
    <input type="text" id="username-login" class="form-inp">
    <h2 class="form-txt">Password:</h2>
    <input type="text" id="password-login" class="form-inp">
    <button class="form-btn" type="submit">Login</button>

    <p class="form-foot">Don't Have an Account?</p>
    <a href="/signup" class="form-foot">Join The Elements</a>
  </form>
</div>

<script src="./js/login.js"></script>