<div>
    <h1 id="post-title">Make a post</h1>
    <form id="new-banger-form" class="form">
        <h4>Title:</h4>
        <input type="text" id="title-post">
        <h4>Body:</h4>
        <input type="text" id="body-post">
        <button class='form-btn' type="submit">Share</button>
    </form>
</div>

<script src="/js/newBanger.js"></script>