<div>
    <h1>Join The Elements</h1>
    <form id="signup-form">
        <h2>Username:</h2>
        <input type="text" id="name-signup">
        <h2>Password:</h2>
        <input type="text" id="password-signup">
        <button type="submit">Signup</button>
    </form>
</div>

<script src="./js/signup.js"></script>
