<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<div>
    <nav id="navbar">
        <div id="hp-title">The Elements</div>
        <a href="/">Home</a>
        <a href="/dash">Dashboard</a>
        {{#if logged_in}}
        <a href="/">Logout</a>
        {{/if}}
        {{#unless logged_in}}
        <a href="/login">Login</a>
        {{/unless}}
    </nav>
    
    <h1 id="signup-title">Join The Elements</h1>
    <form class="form" id="signup-form">
        <h2 class="form-txt">Username:</h2>
        <input type="text" id="name-signup" class="form-inp">
        <h2 class="form-txt">Password:</h2>
        <input type="text" id="password-signup" class="form-inp">
        <button class="form-btn" type="submit">Signup</button>
    </form>
</div>

<script src="./js/signup.js"></script>
